header
    .logo 
        img(src="/img/logo.png", alt="")
    ul.menu 
        li 
            a(href="/") Trang chủ 
        li 
            a(href="/products") Sản phẩm

        form(
                action="/search"
                method="GET"
            )
                .search
                    input#search(
                        type="text"
                        placeholder="Nhập từ khoá..."
                        name="keyword"
                        value=keyword
                        style="padding: 5px 10px"
                    )
                    button(
                        type="submit"
                    ) Tìm
        li 
            a(href="")
             
        li 
            a(href="/user/register") Đăng ký
        li 
            a(href="/user/login") Đăng nhập