extends ../../layouts/default.pug

block main 
    .main
        //- div(id="confirmBox" class="confirm-box")
        //-     div(class="confirm-content")
        //-         p Bạn có chắc chắn muốn xoá sản phẩm này không?
        //-         button(id="confirmYes") Xoá
        //-         button(id="confirmNo") Huỷ

        .activity
            a(
                href="category/create"
                class="create-item"
            ) + Thêm mới

        table 
            thead 
                tr 
                    th STT
                    th Hình ảnh 
                    th Tiêu đề
                    th Vị trí
                    th Hành động
            tbody  
                each item, index in category
                    tr 
                        th #{index + 1}
                        th 
                            img(src=item.image alt="")
                        th #{item.name}
                        th 
                            input(
                                type="number"
                                value=item.position 
                                style="width: 60px"
                                min="1"
                                name="position"
                            )
                        th
                            a(
                                href=`category/detail/${item._id}`
                                class="btn-detail"
                            ) Chi tiết
                            a(
                                href=`category/edit/${item._id}`
                                class="btn-edit"
                            ) Sửa

                            button(
                                class="btn-delete"
                                button-delete
                                data-id=item._id
                            ) Xoá