extends ../../layouts/default.pug 

block main 
    .contab
        .chat-area
            .messages
                each chat in chats
                    .message.received
                        .message-content #{chat.inforUser.fullName}
                        .message-chat #{chat.content}
                .list-typing
                
            .message-input
                form(
                    class="message-input"
                    action=""
                )
                    input(
                        class="ip-chat" 
                        type="text" 
                        style="resize: none"
                        placeholder="Nhập nội dung..."
                        name="content"
                        autocomplete="off"
                    )
                    span.send-btn 
                        <i class="fa-regular fa-face-smile"></i>
                    button.send-btn
                        <i class="fa-solid fa-arrow-right"></i>
        div(class="tooltip" role="tooltip")
            emoji-picker